#mainNav {
  background-color: #021613!important;
}

#header {
  /* background: #f4f4f4!important; */
  background-image: url("/img/drone_background.jpg")!important;
  background-size: cover;
  background-position: center;
}

#header h1, #header h2 {
color: #111 !important;
}

#header-container {
  height: 30rem;
}

#header-divider {
  border-color: #e9ecef!important;
}
#header-divider::after {
  background-color: transparent!important;
  color: #18bc9c!important;
}

#progress .entry {
  text-align: center;
}

#about p {
  text-align: justify;
}

#about h3 {
  text-align: center;
}

#team img {
  width: 100%;
}

#team h2 {
  line-height: 1.0em;
}
